.header-bar, .sub-header, .app-tutorial, .scoring-tutorial{
    text-align: center;
}
.tutorial{
position: relative;
left: 8%;
width: 600px;
}


.scoring {
    position: relative;
    left: 36%;

}
.Links{
    position: relative;
    height: 18px;
    bottom: 18px;
    left: 36%;
}

.playerList {
    list-style: none;
}

.submit-user-ranking{
    display: none;
}
.player-search{
    position: relative;
    width: 130px;
}  

ul {
    list-style: none;
}
.expanded-view{
    display: none;
}
.player-search-label{
    position: relative;

}


.sort-by{
    position: relative;
    left: 23%;

}

.player-list-table{
    position: relative;
}
thead{
    text-align: center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

.rank{
    position: relative;
    width: 10px;
}

.table-responsive {
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .non-mobile{
    
        display: none;
    }
    .player-search{
        position: relative;
        width: 130px;
    }   

}
@media only screen and (min-width: 501px) and (max-width: 1000px) {
   
    h1{
        font-size: 30px;
    }
    .tutorial{
        position: relative;
        width: 500px;
        right: 10%;
        }
        .col-sm-4{
            position: relative;
            width: 170px;
        }
}
@media only screen and (max-width: 500px) {

    .tutorial{
        position: relative;
        width: 300px;
        }

    .header-bar, .sub-header, .header-nav{
        font-size: 13px;
    }
    .col-sm-4{
        position: relative;
        width: 170px;
        left: 10%;
    }
}