td{
    text-align: center;
    border: 3px solid;
    border-color: black;

}
#details {
    visibility: hidden;
    transform: translateY(-20px);
    transition: transform 400ms ease-in;
    height: 1px;
}

#details.slideIn {
visibility: visible;    
transform: translateY(0px);
height: 250px;

  }
  #details.slideOut {
    visibility: hidden;
    transform: translateY(-20px);
    height: 1 px;

  }

  .Profile{
      position: relative;
      width: 200px;
      height: 200px;
  }

  
  @media only screen and (max-width: 768px) {
    .non-mobile{
    
        display: none;
    }
    .Profile{
      display: none;
    }
    } 