.header-bar, .sub-header{
    text-align: center;
}

.scoring {
    position: relative;
    left: 36%;

}
.Links{
    position: relative;
    height: 18px;
    bottom: 18px;
    left: 36%;
}

.playerList {
    list-style: none;
}

.submit-user-ranking{
    display: none;
}
.player-search{
    position: relative;
    width: 130px;
}  

ul {
    list-style: none;
}
.expanded-view{
    display: none;
}
.player-search-label{
    position: relative;

}


.sort-by{
    position: relative;
    left: 23%;

}

.player-list-table{
    position: relative;
}
thead{
    text-align: center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

.rank{
    position: relative;
    width: 10px;
}

.table-responsive {
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .non-mobile{
    
        display: none;
    }
    .player-search{
        position: relative;
        width: 130px;
    }   
}